html {
  scrollbar-color: var(--html-scrollbar-color);
}
::-webkit-scrollbar {
  width: calc(.6rem + 2px);
  height: calc(.6rem + 2px);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--html-scrollbar-color);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: calc(.3rem + 2px);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--html-scrollbar-color);
}
body::-webkit-scrollbar-track {
  background: var(--body-scrollbar-track);
}
body * {
  scrollbar-color: var(--mid-blue) transparent;
  scrollbar-width: thin;
}
