@media (max-width: 1000px) {
  /** tablettes + smartphones **/
  body {
    margin: 0;
    width: 100%;
  }
  #switcher-wide {
    display: none;
  }
}
@media (max-width: 550px) {
  /** smartphone **/
  #sandwich {
    display: block;
  }
  #logo {
    top: 5rem;
  }
  .content {
    width: 100%;
  }
  body > .content > header {
    margin-top: 0;
    .navbar {
      left: 0;
    }
    &.opened .navbar {
      top: 0;
    }
  }
  body > .content > header .navbar {
    display: block;
    position: fixed;
    top: -100vh;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transition: .4s;
    z-index: 110;
    background: black;
  }
  body > .content > header .navbar nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4.5rem);
  }
  body > .content > header .switchers {
    margin-right: 0;
    justify-content: center;
  }
  body > .content > header nav a, header .switcher {
    color: white;
    font-size: 1.2rem;
  }
  body > .content main * {
    scroll-margin-top: calc(4.5rem + 1.2rem);
  }
}
@media (min-width: 551px) {
  /** tout sauf smartphone **/
  body > .content > header nav a.active {
    color: white;
    background: rgba(black, .9);
  }
}
@media (min-width: 551px) and (max-height: 800px) {
  /** smartphone paysage **/
  body > .content > header {
    top: -4.5rem;
  }
  body main * {
    scroll-margin-top: calc(3rem + 1.2rem);
  }
}
@media (min-width: 1150px) {
  /** grand écran **/
  #logo {
    font-size: 28rem;
  }
}