@mixin button {
  background-color: #1A1A1A;
  padding: 1rem 2.6rem .6rem 1.4rem;
  display: inline-block;
  //line-height: 2rem;
  position: relative;
  color: #CCCFCA;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: .5rem;
    height: .5rem;
    border: 2px solid #CCCFCA;
    border-width: 0 2px 2px 0;
    left: calc(100% - 1.5rem);
    top: calc(50% - .25rem);
    transform: rotate(-45deg);
    transition: transform .5s;
  }
  &:hover {
    background-color: #292929;
    color: #CCCFCA;
    &::after {
      transform: rotate(315deg);
    }
  }
}