#page_news {
  main {
    padding-top: var(--internal-margin);
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: var(--internal-margin);
      li {
        list-style: none;
        //flex-basis: calc(50% - 1rem);
        flex-basis: 100%;
        font-size: 1rem;
        &::before {
          display: none;
        }
        a {
          display: flex;
          gap: var(--internal-margin);
          &:hover img {
            transform: scale(2, 2);
          }
          div {
            flex-grow: 0;
            flex-shrink: 1;
            &:first-child {
              flex-basis: 160px;
              aspect-ratio: 1/1;
              overflow: hidden;
            }
            img {
              width: 100%;
              height: auto;
              transition-duration: 0.4s;
            }
          }
        }
      }
      @media (max-width: 1000px) {
        li {
          //flex-basis: calc(50% - 1rem);
        }
      }
      @media (max-width: 1200px) {
        li {
          flex-basis: 100%;
          font-size: .8rem;
          div {
            width: 100%;
            position: relative;
            &:last-child {
              padding: 0;
              overflow: hidden;
              max-height: calc(48vw - 4.5rem);
            }
          }
        }
      }
    }
    .date {
      color: rgba(230, 230, 230, .6);
      margin-bottom: 0;
    }
    h3 {
      color: #CCCFCA;
      font-weight: bold;
      margin: .8em 0;
    }
    h4 {
      color: rgba(230, 230, 230, .6);
      margin: 0;
    }
    .description {
      color: rgba(230, 230, 230, .4);
    }
  }
  .single {
    display: flex;
    gap: 1rem;
    & > div {
      flex-grow: 1;
      width: 50%;
    }
  }
  @media (max-width: 550px) {
    .single {
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }
  }
}
.news {
  main > .single {
    @extend .right;
  }
}