.news, #page_nur {
  section.single {
    display: flex;
    & > div {
      & > h1:first-of-type {
        margin-top: 0;
      }
    }
    .button {
      @include button;
      float: left;
      margin-top: 0;
      padding-left: 2em;
      padding-right: .8rem;
      &::after {
        left: 1em;
        transform: rotate(135deg);
      }
    }
    @media (min-width: 451px) {
      gap: var(--internal-margin);
      & > div {
        flex-basis: 50%;
      }
    }
    @media (max-width: 450px) {
      flex-direction: column;
      gap: var(--internal-margin);
    }
  }
}
.news section.single {
  & > div * {
    text-align: right;
  }
  @media (min-width: 451px) {
    flex-direction: row-reverse;
  }
}