:root {
  /* couleurs */
  --primary: #333;
  --light-aubergine: #333;
  --mid-blue: #4a568b;
  --dark-aubergine: #2C001E;
  --warm-grey: #AEA79F;
  --cool-grey: #333333;
  --text-grey: #111111;

  /* marges */
  --internal-margin: 1.6rem;
  --external-margin: 2rem;

  /* taille typo générale */
  font-size: Min(18px,calc(13px + .5vw));

  /* largeur page max */
  --page-narrow: 1080px;
  --page-wide: 1600px;

  /* #region couleurs light */
  --html-text-color: #ddd;
  --html-background: linear-gradient(150deg, var(--primary) -100%, var(--light-aubergine) 150%);
  --html-background-color: #993057;
  --main-background-color: rgba(0,0,0,.9);
  --html-scrollbar-color: rgba(255,255,255,.2);
  --body-scrollbar-track: black;
  --code-background-color: #3a3a3a;
  --code-border: #444;
  --quote-background-color: var(--warm-grey);
  --quote-color: var(--text-grey);
  --quote-border: #807a73;
  --quote-pict-opacity: .4;
  --td-background-color: #eee;
  --check-background: #f9f9f9;
  --check-box-shadow: rgba(50, 50, 50, .5);
}

$primary: #333;
$headers: #AEA79F;