.rgbShiftSlider {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  /*mix-blend-mode: hard-light;*/
  opacity: 0.85;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  /*transform-origin : 50vw 300vh;*/
  transform-origin: 50% 50%;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100%;
  mix-blend-mode: difference;
  pointer-events: none;
}
#wallpaper {
  opacity: .1;
}

#unko {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  a {
    background-color: transparent;
    font-family: gulax, "Trebuchet MS", "Open Sans", sans-serif;
    text-shadow: 0 0 1000vw white;
    color: black;
    //color: rgba(0,0,0,0);
    font-size: calc(10rem + 5vw);
    display: block;
    width: 100%;
    height: 15rem;
    opacity: 0;
    transition: opacity 2s;
    &:hover {
      opacity: 1;
    }
  }
}

.glitch{
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:60;
  @for $i from 0 through $steps{
    $randWith: 25;
    $randOffset: 45;
    $offset: random($randOffset) - (random($randOffset)/2);
    $start: 50 + random($randWith) - ($randWith/2) + $offset;
    $stop: 50 + random($randWith) - ($randWith/2) + $offset;
    $rand1: $start+vh;
    $rand2: $stop+vh;
    $rand3:random(3)-1;
    #{percentage($i*(1/$steps))}{
      opacity: $rand3;
      clip-path: polygon(0 $rand1, 100% $rand1, 100% $rand2, 0 $rand2);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:fixed;
  width: 100vw;
  left:.05em;
  text-shadow:-.05em 0 rgba(255,255,255,.2);
  top:0;
  color: rgba(0,0,0,1);
  overflow:hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation:noise-anim 6s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:60;
  @for $i from 0 through $steps{
    $randWith: 15;
    $randOffset: 45;
    $offset: random($randOffset) - (random($randOffset)/2);
    $start: 50 + random($randWith) - ($randWith/2) + $offset;
    $stop: 50 + random($randWith) - ($randWith/2) + $offset;
    $rand1: $start+vh;
    $rand2: $stop+vh;
    $rand3:random(3)-1;
    #{percentage($i*(1/$steps))}{
      opacity: $rand3;
      clip-path: polygon(0 $rand1, 100% $rand1, 100% $rand2, 0 $rand2);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:fixed;
  width: 100vw;
  left:-.03em;
  text-shadow:.01em 0 rgba(255,255,255,.15);; 
  top:0;
  color: rgba(0,0,0,1);
  overflow:hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation:noise-anim-2 9s infinite linear alternate-reverse;
}