<!DOCTYPE html>
<html lang="fr">

<head>

  {{ if isset .Params "redirect" }}
  <meta http-equiv="refresh" content="0; URL='{{ .Params.redirect }}'" />
  {{ end }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ relURL "" }}favicon.png">
  <meta property="og:type" content="website">

  <meta name="description"
    content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if $.Site.Data.site.description }}{{ $.Site.Data.site.description }}{{ end }}">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  {{ if .Params.og_image }}
  {{ $ogimage := resources.Get .Params.og_image }}
  <meta property="og:image" content="{{ $ogimage.RelPermalink }}">
  {{ else if .Params.image }}
  {{ $ogimage := resources.Get .Params.image }}
  <meta property="og:image" content="{{ $ogimage.RelPermalink }}">
  {{ else if $.Site.Data.site.og_image }}
  {{ $ogimage := resources.Get $.Site.Data.site.og_image }}
  <meta property="og:image" content="{{ $ogimage.RelPermalink }}">
  {{ end }}
  <meta name="theme-color" content="#5E2750">

  {{ $cssOpts := dict "enableSourceMap" (not hugo.IsProduction) }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script type="module" src="{{ relURL "" }}js/app.js"></script>
</head>

<body id="page_{{ if eq .RelPermalink "/" }}news{{ else }}{{ with .File }}{{ .ContentBaseName }}{{ end }}{{ end }}" {{ if strings.Contains .RelPermalink "/news/" }}
  class="news" {{ end }}>
  <div class="content">
    <header>
      <div class="topbar">
        <div id="sandwich">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="navbar">
          {{ partial "menu/main.html" . }}
        </div>
      </div>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>

</html>
