{{ define "main" }}
  {{ .Content }}
  <ul>
    {{ range where .Site.RegularPages "Type" "news" }}
      <li data-date="{{ .Date.Unix }}">
        <a href="{{ .Permalink }}">
          <div>
            {{ if .Params.image }}
                {{ $image := resources.Get .Params.image }}
                {{ $image := $image.Crop "625x625" }}
                {{ $image_big := $image.Crop "625x625 " }}
                {{ $image_medium := $image.Crop "440x440" }}
                {{ $image_small := $image.Crop "250x250" }}
                <img srcset="{{ $image_big.Permalink }} 1000w,
                  {{ $image_medium.Permalink }} 704w,
                  {{ $image_small.Permalink }} 400w"
                  sizes="(max-width: 550px) 100vw,50vw"
                  src="{{ $image_medium.Permalink }}" />
            {{ end }}
          </div>
          <div>
            <p class="date">
              {{ humanize .Date.Day }} of {{ .Date.Format "January 2006" }}
            </p>
            <h3>{{ .Title | safeHTML | truncate 35 }}</h3>
            {{ if .Params.place }}
              <h4>{{ .Params.place | safeHTML | truncate 40 }}</h4>
            {{ end }}
            {{ if .Description }}
              <p class="description">{{ .Description | truncate 40 }}</p>
            {{ end }}
          </div>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
